/* border: 1px solid whitesmoke; */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}
body {
    margin: 0%;
    width: 100%;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    background: fixed #000045 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%230000ff' fill-opacity='0.2' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

a {
    color: white;
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
}

ul{list-style: none;}

/***********************/
/*  menu de navegacion */
/***********************/
.nav-init {
    margin: auto;
    width: 95%; 
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem 0;
    }
.nav-logo {
    width: 4rem;
    
}

.nav-menu {
    display: flex;
    flex: 1;
    margin:1rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
}
.nav-menu li {
    padding: 0.5rem;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.nav-menu li a:hover {
    border-bottom: 2px groove antiquewhite;
    padding-bottom: 1px;
    transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
hr {border: 1px groove white; background-color: white;}

/* menu de busqueda */
.nav-search {
    height: 3.3rem;
    background: #3f48cc;
    line-height: 3rem;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    position: relative;
    left: 1rem;
    background: #3f48cc;
    color: white;
    font-family: 'Sofia', cursive;
    outline: none;
    border: none;
    line-height: 2.5rem;
    width: 0px;
    font-size: 1.2rem;
    transition: 0.7s ease;
}
.search-input::placeholder{
    color: aquamarine;
}
.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #3f48cc;
    padding: 1rem;
    border-radius: 50%;
    color: white;
    transition: 0.4 ease;
}
.nav-search:hover > .search-input,
.search-input:focus {
    width: 200px;
    margin-left: 1rem;
    left: 0%;
    color: white;
}
.nav-search:hover > .search-btn,
.search-input:focus + .search-btn {
    background: #3f48cc;
    color: #101010;
}

/* boton */
#btn-mobile {
    display: none;
    color: #CAE9FF;
    border: .1rem solid black;
    padding: .1rem;
}

/*************************/
/*   CUERPO PPAL INDEX   */
/*************************/
.container {
    margin: auto;
    width: 95%;  
}
.cover {
    margin: auto;
    list-style: none;
    height: 95vh;
    /* display: grid;
    place-items: center; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: transparent;
}
.typing_title1 {
    width: 13ch;
    animation: typing 3s steps(13, end) forwards, blink .3s 12 backwards alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;
    font-size: 7vw;
}
.typing_title2 {
    width: 11ch;
    animation: typing 3s steps(12, end) forwards, blink .3s 11 step-end;
    animation-delay: 3.5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;
    font-size: 11vw;
    
}
.typing_title3 {
    align-self:flex-start;
    margin-left: 60%;
    margin-bottom: 0%;
    width: 11ch;
    animation: typing 3s steps(11, end) forwards, blink .3s step-end infinite;
    animation-delay: 6.5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid transparent;
    font-size: 5vw;
}
.typing_title4 {
    width: 1ch;
    animation: scrolldown 2s ease infinite;
    animation-delay: 8s;
    white-space: nowrap;
    overflow: hidden;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    font-size: 7vw;
    margin: 0;
    padding: 0;

}
@keyframes typing {
    from {
        width: 0;
        color: white;
    } 
    to {
        color: white;
    }   
}
@keyframes blink {50% {border-color: aquamarine;}}
@keyframes scrolldown {50% {color: white;}}

.ppal {
    width: 80%;
    height: auto;
    background: url("../img/ppal.jpg") no-repeat center center/cover;
    padding: 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: auto;
    font-weight: 500;
    margin: 2rem 0rem;

}
.btnsm {
    background-color: #3f48cc;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.5rem;
    align-items: center;
    /* border: 1px solid #0000ff; */
}
.btnsm:hover {
    opacity: 2;
    color: #3f48cc;
    background-color: white;
}


/*     CARDS     */

.grid-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem 0px;
    gap: 1rem;
}
.grid-cards div {
    border: 1px solid #3f48cc;
    border-radius: 10px;
    box-sizing: content-box;
    box-shadow: #CAE9FF 8px 8px;
}

.grid-cards img, iframe {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    /* border: 1px solid #0000ff; */
}
/* .grid-cards h3 {border: 1px solid #0000ff;} */
.grid-cards p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    /* border: 1px solid #0000ff; */
}

.grid-cards a:hover {
    text-decoration: underline;
}

/****************/
/*    FOOTER    */
/****************/

.foot_cont {
    margin: auto;
    width: 100%;
}

/* redes */

.redes {
    margin: 3rem 0rem 0rem 0rem;
}
.redes h3 {
    text-align: center;
    font-size: large;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    gap: 1rem;
    font-size: x-large;
}

/* copyright */
.copy-foot {
    background-color: #3f48cc;
    text-align: center;
    font-family: 'Sofia', cursive;
}


/************************* stylestips.html *************************/

.style-header, p,h3, h4, h2  {
    width: auto;
    margin: 1rem 0rem;
    padding: 0.5rem;
}
.style-header h1 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    margin: 2rem 0rem;
}
.style-header h2 {
    text-align: left;
    text-transform: capitalize;
    /* width: auto;
    margin: 1rem 0rem; */
}
.style-header h4 {
    /* width: auto;
    margin: 1rem 0rem; */
    animation: typed 3 infinite 0 5 alternate both;
}
/* .style-header h3 {
    width: auto;
    margin: 1rem 0rem;
} */
/* .style-header p {
    width: auto;
    margin: 1rem 0rem;
} */

/* secciones */

h5 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5rem;
    border: 1px solid whitesmoke;
    border-radius: 15px;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
}
.style_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
    gap: 0rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

/* estilo de card */
.styleTipsCard {
    position: relative;
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
}
.styleTipsCard:hover {
    height: auto;
    gap: 0px;
    box-shadow: 15px 15px 40px rgba(63, 72, 204, 0.7);
    border-radius: 10px;
}

.styleTipsCard .imgbx {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
}
.styleTipsCard .details {
    position: absolute;
    width: 250px;
    height: 0px;
    background-color: transparent;
    padding: 1rem;
    visibility: hidden;
}
.styleTipsCard:hover .imgbx {
    background: #fff;
    border-radius: 10px 10px 0 0;
    transition: 0.7s ease;
}
.styleTipsCard:hover .details {
    position: relative;
    height: auto;
    transition: 0.7s ease;
    background-color: #3f48cc;
    visibility: visible;
    border-radius: 0 0 10px 10px;
}
.styleTipsCard .details h6 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
}

/* botones de styletips */
#btn_analog {
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: center;
    background-color: #3f48cc;
    box-shadow: #094c66 4px 4px 0px;
    border-radius: 8px;
    transition: transform 200ms, box-shadow 200ms;
    text-transform: uppercase;
}

#btn_analog:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #094c66 0 0 0;
}

/* redes de styletips */
#box-share {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Animated Share Button */
.share-button {
    margin:0 auto;
    font-family: "montserrat", sans-serif;
    width: 230px;
    height: 40px;
    background-color: #3f48cc;
    border-radius: 100px;
    border: #101010 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: .5s linear;
  }
  .share-button:hover {
    transform: scale(1.3);
  }
  .share-button span {
    position: absolute;
    width: 100%;
  /*   height: 100%; */
    background-color: aquamarine;
    color: black;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    z-index: 999;
    transition: 1s linear;
    border-radius: 100px;
    border: #101010 solid 1px;
    cursor: pointer;
  }
  .share-button:hover span {
    transform: translateX(-100%);
    transition-delay: .5s;
    background: white;
  }
  .share-button a {
    padding: unset;
    font-size: unset;
    font-family: unset;
    margin-top: unset;
    font-size: 1.2rem;
    color: aquamarine;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: .5s linear;
    cursor: pointer;
    width: 25px;
    margin: 0 10px 0 10px;
  }
  .share-button:hover a {
    opacity: 1;
    transform: translateX(0);
  }
  .share-button a:hover i {
    transform: scale(1.3);
  }


/****** contactenos ******/

.contacttext {
    
    margin: auto;
    padding: 1rem;
}
.formulario {
    width: 600px;
    max-width: 95%;
    margin: auto;
    padding: 1rem;
    padding-top: 2.5rem;
    box-shadow: 0 0 20px 1px rgba(128, 128, 128, 0.4);
    background-color: rgba(128, 128, 128, 0.103);
    position: relative;
    border: rgba(127, 255, 212, 0.39) 1px solid;
    border-radius: 1rem;

}

.form-input, .form-label, .form-submit, .form-labelmsg {
    display: block;
    width: 100%;
}
.form-input {
    padding: 1rem;
    border: rgba(127, 255, 212, 0.39) 1px solid;
    border-radius: 1rem;
    margin-bottom: 2rem;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: auto;
    font-weight: 600;
    color: white;
}
.form-input:focus {
    outline: 1.5px solid aquamarine;
    box-shadow: 0px 6px 20px rgba(127, 255, 212, 0.6);
}
.form-input:focus + .form-label {
    margin-top: -7rem;
}
.form-input:focus + .form-labelmsg {
    margin-top: -16rem;
}
.form-label, .form-labelmsg {
    padding-left: 1rem;
    position: absolute;
    z-index: -2;
    font-family: 'Sofia', cursive;
    font-weight: 500;
    color: aquamarine;
    font-size: 1.1rem;
    transition: all 0.3s;
}
.form-label {
    margin-top: -4.5rem;
}
.form-labelmsg {
    margin-top: -13.5rem;
}
.form-submit {
    background: #3f48cc;
    font-family: 'Sofia', cursive;
    font-weight: 800;
    color: aquamarine;
    font-size: 1.2rem;
    padding: .7rem 2rem;
    cursor: pointer;
    border: rgba(127, 255, 212, 0.39) 1px solid;
    border-radius: 1rem;
    box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.4);
}
.fijar {margin-top: -7rem;}
.fijarmsg {margin-top: -16rem;}



/*****************/
/* MEDIA QUERIES */
/*****************/

@media only screen and (max-width: 800px) {
    .grid-cards {
        grid-template-columns: 1fr 1fr;
    }
    .nav-init {
        align-items: center;
        justify-content:space-between;
    }
    nav a {
        order: 2;
    }
    .nav-search {
        font-size: 1.3rem;
        order: 3;
    }
    
    /* nuevo seteo del menu */

    #btn-mobile {
        display: block;
    }
    .nav-menu {
        position: absolute;
        display: block;
        width: 1px;
        top: 2rem;
        left: -8%;
        text-align: center;
        height: 1px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
        background-color: #3f48cc;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%230000ff' fill-opacity='0.2' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
     }

    /*  */

    .nav-init.active #menuid {
        display: block;
        visibility: visible;
        height: 100vh;
        width: 75vw;
        overflow-y: auto;
        overflow-x: auto;
    }
    #menuid li {
        margin: 0.7rem;
        padding: 0.7rem;

    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        gap: 0.5rem;
        order: 0;
    }

    #hambuguer {
        border-top: 2px solid;
        width: 20px;
    }

    #hambuguer::before, #hambuguer::after {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    .nav-init.active #hambuguer {
        border-top-color: transparent;
    }

    .nav-init.active #hambuguer::before {
        transform: rotate(135deg);
    }

    .nav-init.active #hambuguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
@media only screen and (max-width:400px) {
    .grid-cards {
        grid-template-columns: 1fr;
    }
    .ppal {
        height: 50vh;
    }

}
